.flex-container{
    color: #001f3f;
    display: flex;
    flex-direction: row;
    font-family:"Verdana",sans-serif;
    justify-content: space-between;
    width: 70%;
    padding-left: 5%;
    line-height: 2.5;
    
}