.flex-container{
    color: #001f3f;
    display: flex;
    flex-direction: column;
    font-family:"Verdana",sans-serif;
    justify-content: space-between;
    width: 70%;
    padding-left: 5%;
    
}



// #back{
//     border: solid black;
// }

// #front{
//     border: 1px midnightblue;
// }

// #bd{
//     border: 1px midnightblue;
// }