*, html {
   
        margin:0;
        padding:0;  
    
}
body {
    margin: 0%;
    position: relative;
    #menu {
        background-color:#001f3f;
        font-weight: bold;
        margin: 0%;
        padding:2%;
        a{
            color:#7FDBFF;
            font-weight: bold;
            font-size:large;
        }
        
    
    }
    
    #presentation{
        font-size:large;
        background-color:#39CCCC;
        color:#001f3f;
        margin: 0%;
        padding:2%;
        h1{
            font-family:"Verdana",sans-serif;
        }
    }
    #space{
        height: 50px;
        width: 100%;
        bottom: 0;
    }

    #footer{
        background-color:#001f3f;
        color: #39CCCC;
        font-size:large;
        font-weight: bold;
        padding:1%;
        font-family:"Verdana",sans-serif;
        justify-content: center;
        position: fixed;
        left: 0;
        width: 100%;
        bottom: 0;
    }

}
